.githubx/
examples/platformer/wasm/index.*
examples/platformer/libs/*
examples/platformer/libs_build/build/*
examples/platformer/sound-licenses.txt
examples/sdlapp_earth/wasm/index.*
examples/sdlapp_lines/wasm/index.*
make_test_*.sh
.ccache/
*.mp4
save/
SDL3.dll
src/private/SD
.nimcache/
.nimcache_*/
nimblecache/
htmldocs/
#*.a
#*.lib
#*.dll
*.exe
#*.txt
#*.md
#*.html
setenv.bat
GPATH
GTAGS
GRTAGS
